header {
    width: 100%;

    .logo-container img {
        width: 60%;
    }

    .header-container {
        padding: 1em 0;
        width:60%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;

            li a {
                display: block;
                text-decoration: none;
                padding: 1em;
                text-transform: uppercase;
                font-size: 10px;
                color: rgba(0, 0, 0, 0.823);
                
            }
            
            li:hover,
            li:active,
            li.active {
                border-bottom: 2px solid blue;
            }
        }

        .search {

            border-bottom: 2px solid blue;

            input {
                border: none;
                outline: none;
                text-align: right;
            }

            button {
                background-color: white;
                border: none;
                margin-left: 10px;
            }
        }
    }
}